<section class="projects-section">
  <div class="projects-container">
    <!-- Título de la sección -->
    <div class="section-title">
      <span>{{ 'HOME.FEATURED_PROJECTS.PRE_TITLE' | translate }}</span>
      <h2>{{ 'HOME.FEATURED_PROJECTS.TITLE' | translate }}</h2>
    </div>

    <!-- Cuadrícula de proyectos -->
    <div class="projects-grid">
       <!-- Bucle que ahora usa nuestro componente reutilizable -->
      <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
    </div>

    <!-- Botón para ver todos los proyectos -->
    <div class="view-all-container">
      <a routerLink="/projects" class="btn btn-primary">{{ 'HOME.FEATURED_PROJECTS.VIEW_ALL_BTN' | translate }}</a>
    </div>
  </div>
</section>
