<main class="home-page">
  <section class="hero-container">
    <div class="hero-content">
      <h5 class="subtitle">Hola, soy David Juca</h5>
      <h1 class="title">Diseñador y Desarrollador Web</h1>
      <p class="description">
        Apasionado por crear experiencias digitales intuitivas y atractivas.
        Transformo ideas en realidades funcionales, combinando diseño y código
        para construir soluciones web modernas y eficientes.
      </p>
      <a routerLink="/about" class="btn">Sobre Mí</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/hero-profile3.jpg" alt="Retrato de Daniel Juca" />
    </div>
  </section>

  <!-- Aquí irán las otras secciones de la página de inicio -->
</main>
